<div class="container py-5">
  <h1>Name your list:</h1>
  <%= simple_form_for(@list) do | f |%>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
</div>
<!-- f.input :photo, as: :file active storage and cloudinary config -->
