.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent !important;
  a{
    text-decoration: none;
    color: #5A6268;
  }
  a:hover{
    color:black;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

